<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.myapp.flight.dao.IFlightRepository">

	<select id="getEconomyClassSchedule" parameterType="com.project.myapp.flight.model.Search" resultType="com.project.myapp.flight.model.Schedule">
		<![CDATA[
			SELECT
    			ROWNUM,
    			s.schedule_id as "scheduleId",
    			s.department_nation as "departmentNation",
			    s.arrival_nation as "arrivalNation",
			    s.department_date as "departmentDate",
			    s.arrival_date as "arrivalDate",
			    TO_CHAR(s.department_time, 'HH24:MI') as "departmentTime",
			    TO_CHAR(s.arrival_time, 'HH24:MI') as "arrivalTime",
			    s.flight_time as "flightTime",
			    s.economy_class_fare as "economyClassFare",
			    s.economy_class_remain as "economyClassRemain",
			    a.airline_name as "airlineName",
			    a.airplane_type_name as "airplaneTypeName",
			    a.image as "image"
			FROM
			    (
			        SELECT
			            ROWNUM,
			            schedule_id,
			            airline_id,
			            department_nation,
			            arrival_nation,
			            department_date,
			            arrival_date,
			            department_time,
			            arrival_time,
			            flight_time,
			            economy_class_fare,
			            economy_class_remain
			        FROM
			            schedule
			        ORDER BY
			            economy_class_fare
			    ) 	s
			    LEFT JOIN airline a ON s.airline_id = a.airline_id
			WHERE
			        s.department_nation = #{departmentNation}
			    AND s.arrival_nation = #{arrivalNation}
			    AND s.department_date = #{departmentDate}
			    AND s.economy_class_remain >= #{person}
			    AND ROWNUM <= #{page}
			ORDER BY
			    s.economy_class_fare
		]]>
	</select>
	
	<select id="getBusinessClassSchedule" parameterType="com.project.myapp.flight.model.Search" resultType="com.project.myapp.flight.model.Schedule">
		<![CDATA[
			SELECT
    			ROWNUM,
    			s.schedule_id as "scheduleId",
    			s.department_nation as "departmentNation",
			    s.arrival_nation as "arrivalNation",
			    s.department_date as "departmentDate",
			    s.arrival_date as "arrivalDate",
			    TO_CHAR(s.department_time, 'HH24:MI') as "departmentTime",
			    TO_CHAR(s.arrival_time, 'HH24:MI') as "arrivalTime",
			    s.flight_time as "flightTime",
			    s.business_class_fare as "businessClassFare",
			    s.business_class_remain as "businessClassRemain",
			    a.airline_name as "airlineName",
			    a.airplane_type_name as "airplaneTypeName",
			    a.image as "image"
			FROM
			    (
			        SELECT
			            ROWNUM,
			            schedule_id,
			            airline_id,
			            department_nation,
			            arrival_nation,
			            department_date,
			            arrival_date,
			            department_time,
			            arrival_time,
			            flight_time,
			            business_class_fare,
			            business_class_remain
			        FROM
			            schedule
			        ORDER BY
			            business_class_fare
			    ) 	s
			    LEFT JOIN airline a ON s.airline_id = a.airline_id
			WHERE
			        s.department_nation = #{departmentNation}
			    AND s.arrival_nation = #{arrivalNation}
			    AND s.department_date = #{departmentDate}
			    AND s.business_class_remain >= #{person}
			    AND ROWNUM <= #{page}
			ORDER BY
			    s.business_class_fare
		]]>
	</select>
	
	<select id="getFirstClassSchedule" parameterType="com.project.myapp.flight.model.Search" resultType="com.project.myapp.flight.model.Schedule">
		<![CDATA[
			SELECT
    			ROWNUM,
    			s.schedule_id as "scheduleId",
    			s.department_nation as "departmentNation",
			    s.arrival_nation as "arrivalNation",
			    s.department_date as "departmentDate",
			    s.arrival_date as "arrivalDate",
			    TO_CHAR(s.department_time, 'HH24:MI') as "departmentTime",
			    TO_CHAR(s.arrival_time, 'HH24:MI') as "arrivalTime",
			    s.flight_time as "flightTime",
			    s.first_class_fare as "firstClassFare",
			    s.first_class_remain as "firstClassRemain",
			    a.airline_name as "airlineName",
			    a.airplane_type_name as "airplaneTypeName",
			    a.image as "image"
			FROM
			    (
			        SELECT
			            ROWNUM,
			            schedule_id,
			            airline_id,
			            department_nation,
			            arrival_nation,
			            department_date,
			            arrival_date,
			            department_time,
			            arrival_time,
			            flight_time,
			            first_class_fare,
			            first_class_remain
			        FROM
			            schedule
			        ORDER BY
			           	first_class_fare
			    ) 	s
			    LEFT JOIN airline a ON s.airline_id = a.airline_id
			WHERE
			        s.department_nation = #{departmentNation}
			    AND s.arrival_nation = #{arrivalNation}
			    AND s.department_date = #{departmentDate}
			    AND s.first_class_remain >= #{person}
			    AND ROWNUM <= #{page}
			ORDER BY
			    s.first_class_fare
		]]>
	</select>
	
	<select id="getScheduleByScheduleId" parameterType="int" resultType="com.project.myapp.flight.model.Schedule">
		<![CDATA[
			SELECT
    			s.schedule_id                         AS "scheduleId",
			    s.department_nation                   AS "departmentNation",
    			s.arrival_nation                      AS "arrivalNation",
    			s.department_date                     AS "departmentDate",
    			s.arrival_date                        AS "arrivalDate",
    			to_char(s.department_time, 'HH24:MI') AS "departmentTime",
    			to_char(s.arrival_time, 'HH24:MI')    AS "arrivalTime",
    			s.flight_time                         AS "flightTime",
    			s.first_class_fare                    AS "firstClassFare",
    			s.first_class_remain				  AS "firstClassRemain",
    			s.business_class_fare                 AS "businessClassFare",
    			s.business_class_remain				  AS "businessClassRemain",
    			s.economy_class_fare                  AS "economyClassFare",
    			s.economy_class_remain				  AS "economyClassRemain",
    			a.airline_name                        AS "airlineName",
    			a.airplane_type_name                  AS "airplaneTypeName",
    			a.image                               AS "image"
			FROM
    			schedule s
    			LEFT JOIN airline  a ON s.airline_id = a.airline_id
			WHERE
   				s.schedule_id = #{scheduleId}
		]]>
	</select>
	
	<update id="updateEconomyRemainSeatByScheduleId">
		<![CDATA[
			UPDATE schedule
			SET
    			economy_class_remain = ${remainSeat}
			WHERE
    			schedule_id = ${scheduleId}
		]]>
	</update>
	
	<update id="updateBusinessRemainSeatByScheduleId">
		<![CDATA[
			UPDATE schedule
			SET
    			business_class_remain = #{remainSeat}
			WHERE
    			schedule_id = #{scheduleId}
		]]>
	</update>
	
	<update id="updateFirstRemainSeatByScheduleId">
		<![CDATA[
			UPDATE schedule
			SET
    			business_class_remain = #{remainSeat}
			WHERE
    			schedule_id = #{scheduleId}
		]]>
	</update>
	
	<select id="getEconomyRemainSeat" parameterType="int" resultType="int">
		<![CDATA[
			SELECT
    			economy_class_remain as "economyClassRemain"
			FROM 
    			schedule
			WHERE
    			schedule_id = #{scheduleId}
		]]>
	</select>
	
	<select id="getBusinessRemainSeat" parameterType="int" resultType="int">
		<![CDATA[
			SELECT
    			economy_class_remain as "economyClassRemain"
			FROM
    			schedule
			WHERE
    			schedule_id = #{scheduleId}
		]]>
	</select>
	
	<select id="getFirstRemainSeat" parameterType="int" resultType="int">
		<![CDATA[
			SELECT 
				first_class_remain as "firstClassRemain"
			FROM
    			schedule
			WHERE
    			schedule_id = #{scheduleId};
		]]>
	</select>
	
</mapper>