<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.myapp.flight.dao.IFlightRepository">
	<insert id="insertPassengerInformation" parameterType="com.project.myapp.flight.model.Ticket">
		<![CDATA[
			INSERT
			    INTO ticket (
			    	ticket_id,
			        member_id,
			        schedule_id,
			        reservation_id,
			        name,
			        first_name,
			        last_name,
			        phone_number,
			        birthday,
			        passport_number,
			        passport_expiry_date,
			        ticket_type,
			        fare,
			        seat_type,
			        total_price
			    ) VALUES (
			    	ticket_seq.NEXTVAL,
			        #{memberId},
			        #{scheduleId},
			        #{reservationId},
			        #{name},
			        #{firstName},
			        #{lastName},
			        #{phoneNumber},
			        #{birthday},
			        #{passportNumber},
			        #{passportExpiryDate},
			        #{ticketType},
			        #{fare},
			        #{seatType},
			        #{totalPrice}
			    )
		]]>
	</insert>
	
	<select id="checkReservationIsExists" parameterType="String" resultType="int">
		<![CDATA[
			SELECT
    			COUNT(*)
			FROM
    			ticket
			WHERE
        		reservation_id = #{reservationId}
    			AND reservation_status = '예약중'
		]]>
	</select>
	
</mapper>