<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.myapp.user.dao.IUserRepository">
	<select id="getUserInformation" resultType="com.project.myapp.user.model.User">
	<![CDATA[
		SELECT idx, id, password, age FROM USERS
	]]>
	</select>

	<select id="getUserPassword" parameterType="string" resultType="com.project.myapp.user.model.User">
	<![CDATA[
		SELECT idx, id, password, age FROM USERS
		WHERE id=#{id}
	]]>
	</select>
	
</mapper>