<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.myapp.member.dao.IMemberRepository">

   <insert id="insertMember" parameterType="com.project.myapp.member.model.Member">
      <![CDATA[
         INSERT INTO 
            MEMBER
            (member_id, password, name, first_name, last_name, phone_number, birthday, address, email, gender)
            VALUES
            (#{memberId},#{password}, #{name}, #{firstName}, #{lastName}, #{phoneNumber}, #{birthday}, #{address},#{email}, #{gender})
      ]]>
   </insert>
   
   <select id="selectMember" parameterType="string" resultType="com.project.myapp.member.model.Member">
      <![CDATA[
         SELECT 
            member_id "memberId",
            password "password",
            name "name",
            first_name "firstName",
            last_name "lastName",
            phone_number "phoneNumber",
            birthday "birthday",
            address "address",
            email "email",
            gender "gender",
            is_admin "isAdmin",
            is_deleted "isDeleted"
         FROM MEMBER
         WHERE member_id = #{memberId}
      ]]>
   </select>
   
   <select id="selectAllMembers" resultType="com.project.myapp.member.model.Member">
      <![CDATA[
         SELECT 
            memberId "memberId",
            password "password",
            name "name",
            first_name "firstName",
            last_name "lastName",
            phone_number "phoneNumber",
            birthday "birthday",
            address "address",
            email "email",
            gender "gender",
            is_admin "isAdmin",
            is_deleted "isDeleted"
         FROM MEMBER
      ]]>
   </select>

   <select id="getPassword" parameterType="string" resultType="string">
      <![CDATA[
         SELECT password FROM MEMBER
         WHERE member_id = #{memberId}
      ]]>
   </select>
   
   <update id="updateMember" parameterType="com.project.myapp.member.model.Member">
      <![CDATA[
		    UPDATE MEMBER
		    SET name=#{name}, first_name=#{firstName}, last_name=#{lastName}, phone_number=#{phoneNumber}, birthday=#{birthday}, address=#{address}, email=#{email}, gender=#{gender}
		    WHERE member_id = #{memberId}  
      ]]>
   </update>
   
   <update id="deleteMember" parameterType="com.project.myapp.member.model.Member">
      <![CDATA[
         UPDATE MEMBER
         SET is_deleted = 1
         WHERE member_id = #{memberId}            
      ]]>
   </update>
   
   <select id="idCheck" resultType="com.project.myapp.member.model.Member" parameterType="string">
      <![CDATA[
         SELECT member_id AS "memberId" FROM MEMBER
         WHERE member_id = #{memberId}
      ]]>
   </select>


	
	<update id="updatePassword" parameterType="com.project.myapp.member.model.Member" >
		<![CDATA[
			UPDATE MEMBER
			SET password = #{password}
			WHERE member_id = #{memberId} 
		]]>
	</update>
	
		<update id="updatePasswordByMember" parameterType="com.project.myapp.member.model.Member" >
		<![CDATA[
			UPDATE MEMBER
			SET password = #{newPassword}
			WHERE member_id = #{memberId} AND password = #{password}
		]]>
	</update>
	
	
	<insert id="insertPassenger" parameterType="com.project.myapp.member.model.Companion">
		<![CDATA[
			INSERT INTO
				COMPANION
					(companion_id, member_id, name, first_name, last_name, phone_number, birthday)
				VALUES
					(#{companionId}, #{memberId}, #{name}, #{firstName}, #{lastName}, #{phoneNumber},#{birthday})
		]]>
	</insert>
	
 	<select id="viewReservation" parameterType="string" resultType="com.project.myapp.member.model.Member">
		<![CDATA[ 
					SELECT
						t.member_id					AS "memberId", 	
						t.name                      AS "name",
						t.reservation_id			AS "reservationId",  
						a.airline_name				AS "airlineName",
						s.department_nation			AS "departmentNation", 
						s.department_date			AS "departmentDate", 
						s.department_time			AS "departmentTime", 
						s.arrival_nation			AS "arrivalNation", 
						s.arrival_date				AS "arrivalDate", 
						s.arrival_time				AS "arrivalTime",
						t.phone_number				AS "phoneNumber",
						t.seat_type					AS "seatType", 
						t.ticket_type				AS "ticketType",
						t.reservation_status		AS "reservationStatus",
						t.total_price				AS "totalPrice"
					FROM TICKET t
						INNER JOIN SCHEDULE s ON t.schedule_id = s.schedule_id
						INNER JOIN AIRLINE a ON s.airline_id = a.airline_id
					WHERE t.member_id = #{memberId} AND t.reservation_status = '예약 완료'
		]]>
	</select>
 
	

</mapper>