<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.myapp.board.dao.IBoardRepository">

	<select id="getAllBoard"
		resultType="com.project.myapp.board.model.Board">
		<![CDATA[
			SELECT
				board_id	"boardId",
				category_id	"categoryId",
				member_id	"memberId",
				title		"title",
				content		"content",
				views		"views"
			FROM BOARD
		]]>
	</select>

	<select id="selectBoardListByCategory" parameterType="hashmap"
		resultType="com.project.myapp.board.model.Board">
		<![CDATA[
			SELECT
				board_id	"boardId",
				category_id	"categoryId",
				member_id	"memberId",
				title		"title",
				content		"content",
				views		"views"
			FROM(
				SELECT
					board_id, category_id, member_id, title, content, views, rownum
				FROM(
					SELECT * FROM BOARD
					WHERE category_id = #{categoryId}
					ORDER BY board_id DESC
					)
				)
				WHERE rownum BETWEEN #{start} AND {end}
		]]>
	</select>
	
	<select id="selectMaxBoardNo" resultType="int">
		<![CDATA[
			SELECT NVL(MAX(board_id),0) AS "boardNo"
			FROM BOARD
		]]>
	</select>

	<select id="selectBoard" parameterType="int"
		resultType="com.project.myapp.board.model.Board">
			<![CDATA[
			SELECT
				board.board_id						AS	"boardId",
				board_category.category_name	    AS	"categoryName",
				board.member_id						AS	"memberId",
				title							    AS	"title",
				content							    AS	"content",
				views							    AS	"views",
				reply.reply_content				    AS	"replyContent"
			FROM BOARD
			LEFT OUTER JOIN board_category ON board.category_id = board_category.category_id
			LEFT OUTER JOIN reply ON board.board_id = reply.board_id
			WHERE board.board_id = #{boardId}
		]]>
	</select>

	<insert id="insertBoard"
		parameterType="com.project.myapp.board.model.Board">
		<![CDATA[
			INSERT INTO BOARD
				(category_id,member_id, title, content, views)
			VALUES
				(#{categoryId},#{memberId},#{title},#{content},#{views})
		]]>
	</insert>

	<update id="updateBoard"
		parameterType="com.project.myapp.board.model.Board">
		<![CDATA[
			UPDATE BOARD SET
				(category_id=#{categoryId}, title=#{title}, content=#{content})
			WHERE board_id = #{boardId}                                                    
		]]>
	</update>

	<delete id="deleteBoard" parameterType="int">
		<![CDATA[
			DELETE FROM BOARD
			WHERE board_id = #{boardId}
		]]>
	</delete>

	<update id="updateViews" parameterType="int">
		<![CDATA[
		UPDATE BOARD
		SET views = views+1
		WHERE board_id = #{boardId}		
		]]>
	</update>
	
	<select id="selectTotalBoardCount" resultType="int">
		<![CDATA[
			SELECT COUNT(board_id) AS "count" FROM BOARD
		]]>
	</select>
	
	<select id="selectTotalBoardCountByCategoryId" parameterType="int">
		<![CDATA[
			SELECT COUNT(board_id) AS "count" FROM BOARD
			WHERE category_id = #{categoryId}
		]]>
	</select>
	
	<select id="selectTotalBoardCountByKeyword" parameterType="string" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM BOARD
			WHERE title LIKE #{keyword} OR content LIKE #{keyword}
		]]>
	</select>
	
	<select id="searchListByContentKeyword" parameterType="hashmap" resultType="com.project.myapp.board.model.Board">
		<![CDATA[
					SELECT
				board_id	"boardId",
				category_id	"categoryId",
				member_id	"memberId",
				title		"title",
				content		"content",
				views		"views"
			FROM(
				SELECT
					board_id, category_id, member_id, title, content, views, rownum
				FROM(
					SELECT * FROM BOARD
					WHERE title LIKE #{keyword} OR content LIKE #{keyword}
					ORDER BY board_id DESC
					)
				)
				WHERE rownum BETWEEN #{start} AND {end}
		]]>
	</select>

</mapper>
 -->